<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
  <h1 class="jumbotron-heading">Monthly Catalog 1895-1976</h1>

  <p class="lead">Commonly referred to as the Monthly Catalog or MoCat, this publication lists all of the publications produced by the U.S. Government Printing Office from 1895 to 2004. Initially intended to supplement the Documents Catalog, the Monthly Catalog served as the “comprehensive index” provided for in the Printing Act of 1895 after the Documents Catalog was discontinued in 1947. The Monthly Catalog was discontinued with the December 2004 edition, after which point the continuously updated Catalog of U.S. Government Publications (CGP)  served that purpose.</p>
</div>

<!-- <p>Blacklight <%= Blacklight::VERSION %></p> --!>